
<body class="bg-gray-200">
    <div id="pdf-content" class="w-5/12 max-w-screen-xl mx-auto mt-14 bg-white p-5 rounded-md shadow">
        <p class=" hidden text-right text-gray-500 text-xs"> Bienvendo {{name}}</p>
       
        <img src="/images/group 1.png" width="150" class="" alt="Logo de la Empresa">
       
       <h1 class="text-lg font-semibold mb-0 text-center">CONSTANCIA DE ENTREGA DE EQUIPO</h1>

       <div>
            <table class="text-xs bg-white p-0 rounded-lg table-auto px-8">
                <tr >
                    <th class="text-left p-0 font-bold">PARA:</th>
                    <td class="p-1">{{stock.nombre}}</td>
                </tr>

                <tr>
                    <th class="text-left p-0 font-bold">DE:</th>
                    <td class="p-1">GERSON ALTAN</td>
                </tr>

                <tr>
                    <th class="text-left p-0 font-bold">EMPRESA:</th>
                    <td class="p-1">{{agencia.nombre}}</td>
                </tr>

                <tr>
                    <th class="text-left p-0 font-bold">FECHA:</th>
                    <td class="p-1">08-07-2022</td>
                </tr>
            </table>

            <p class="text-xs text-justify px-8 pt-1"> Por este medio se hace constar que el día de hoy se hizo entrega a: <b>{{stock.nombre}}</b>  de una computadora con las siguientes especificaciones.</p>
        

        <div class="text-center pt-1">
           <table class="text-xs bg-white p-2 rounded-lg shadow-md mx-auto table-auto border border-gray-200">
                    <thead>
                        <tr>
                        <th class="p-21text-center bg-black text-white w-1/4">CARACTERISTICAS</th>
                        <th class="p-1 text-center bg-black text-white w-3/4">DETALLE</th>
                        </tr>
                    </thead>
                    <tbody>
                         <tr>
                        <th class="border border-gray-300 p-0">SERIE:</th>
                        <td class="text-left p-0">{{stock.serie}}</td>
                        </tr>
                        <tr>
                        <tr class="border border-gray-300">
                        <th class="border border-gray-300 bg-gray-100 text-center p-0">MODELO/CPU:</th>
                        <td class="bg-gray-100 text-left p-1">{{stock.cpu}}</td>
                        </tr>
                        <tr>
                        <th class="border border-gray-300 p-0">RAM:</th>
                        <td class="text-left p-0">{{stock.ram}}</td>
                        </tr>
                        <tr>
                        <th class="border border-gray-300 bg-gray-100 p-1">DISCO:</th>
                        <td class="border border-gray-300 bg-gray-100 text-left p-0">{{stock.disco_duro}}</td>
                        </tr>
                        <tr>
                        <th class="border border-gray-300 p-0">MONITOR:</th>
                        <td class="text-left p-0">{{stock.monitor}}</td>
                        </tr>
                        <tr>
                        <th class="border border-gray-300 bg-gray-100 p-0">TECLADO:</th>
                        <td class="border border-gray-300 bg-gray-100 text-left p-0">{{stock.teclado}}</td>
                        </tr>
                        <tr>
                        <th class="border border-gray-300 p-0">MOUSE:</th>
                        <td class="text-left p-0">{{stock.mouse}}</td>
                        </tr>
                        <tr>
                        <th class="border border-gray-300 bg-gray-100 p-0">ADAPTADOR:</th>
                        <td class="border border-gray-300 bg-gray-100 text-left p-0">{{stock.adaptador}}</td>
                        </tr>
                        <tr>
                        <th class="border border-gray-300 p-0">TABLET:</th>
                        <td class="text-left p-0">{{stock.tableta}}</td>
                        </tr>
                        <tr>
                        <th class="border border-gray-300 bg-gray-100 p-0">OTROS:</th>
                        <td class="border border-gray-300 bg-gray-100 text-left p-0">{{stock.otro}}</td>
                        </tr>
                    </tbody>
                    </table>

        </div>

    
            <p class="text-xs text-justify px-8 pt-6"> Dicho equipo fue entregado en buenas condiciones y previamente configurado acorde a sus necesidades laborales.</p>
        
    
<div class="text-center">
  <div class="py-4 flex justify-between">
   <div class=" w-1/2">
      <div class="h-24 flex justify-center items-center border-b border-gray-500 ">
        <img src="/images/f_galtan.png" width="90" class="">
      </div>
      <p class="font-bold text-md text-xs text-gray-700 text-center mt-3">GERSON ALTAN</p>
    </div>
    <div class="px-32" > &nbsp; </div>
    <div class=" w-1/2">
      <div class="h-24 flex justify-center items-center border-b border-gray-500 ">
        <!-- Espacio para la segunda firma -->
      </div>
      <p class="font-bold text-md text-xs text-gray-700 text-center mt-3">{{stock.nombre}}</p>
    </div>
  </div>
</div>


    </div>
           <!-- Botón para generar PDF -->
             <div  class="flex justify-evenly">
              
                <!-- Agrega un enlace para generar el PDF -->
                    <a 
                     class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-9 rounded focus:outline-none focus:shadow-outline"
                     href="/letter/set/{{stock.id}}" target="_blank">Generar PDF</a>

                <a id="botton2" href="/letter" 
                class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-9 rounded focus:outline-none focus:shadow-outline">Regresar</a>
            </div>


</body>






