<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/images/styles.css">
</head>

    <div class="pdf-content" class="">
      
       
        <img class="logo" src="/images/wol-group.png" width="150" class="" alt="Logo de la Empresa">
       
        <h1 class="encabezado">CONSTANCIA DE ENTREGA DE EQUIPO</h1>

        <div>
            <table class="tabla1">
                <tr>
                    <th >PARA:</th>
                    <td class="">{{stock.nombre}}</td>
                </tr>

                <tr>
                    <th class="text-left p-0 font-bold">DE:</th>
                    <td class="p-0">GERSON ALTÁN</td>
                </tr>

                <tr>
                    <th class="text-left p-0 font-bold">EMPRESA:</th>
                    <td class="p-0">{{stock.nombre_agencia}}</td>
                </tr>

                <tr>
                    <th class="text-left p-0 font-bold">FECHA:</th>
                    <td class="p-0">{{stock.fecha_actual}}</td>
                </tr>
            </table>

            <p class="parrafo">Por este medio se hace constar que el día de hoy se hizo entrega a: <b>{{stock.nombre}}</b> de una computadora con las siguientes especificaciones.</p>
        
            <div class="text-center pt-2">
                <table class="carta2">
                    <thead>
                        <tr>
                            <th class="strech">ESPECIFIC</th>
                            <th>DETALLE</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td >SERIE:</td>
                            <td >{{stock.serie}}</td>
                        </tr>
                        <tr>
                            <td >MODELO/CPU:</td>
                            <td >{{stock.cpu}}</td>
                        </tr>
                        <tr>
                            <td >RAM:</td>
                            <td >{{stock.ram}}</td>
                        </tr>
                        <tr>
                            <td >DISCO:</td>
                            <td >{{stock.disco_duro}}</td>
                        </tr>
                        <tr>
                            <td >MONITOR:</td>
                            <td >{{stock.monitor}}</td>
                        </tr>
                        <tr>
                            <td >TECLADO:</td>
                            <td >{{stock.teclado}}</td>
                        </tr>
                        <tr>
                            <td >MOUSE:</td>
                            <td >{{stock.mouse}}</td>
                        </tr>
                        <tr>
                            <td >ADAPTADOR:</td>
                            <td >{{stock.adaptador}}</td>
                        </tr>
                        <tr>
                            <td >TABLET:</td>
                            <td class="text-left p-0">{{stock.tableta}}</td>
                        </tr>
                        <tr>
                            <td >ACCESORIOS:</td>
                            <td >{{stock.accesorio}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        
            <p class="parrafo">Dicho equipo fue entregado en buenas condiciones y previamente configurado acorde a sus necesidades laborales.</p>
            <br>

            <div  class="firmas-container">
                <!-- FIRMA 1-->
                <div   class="firma">
                    <div class="espacio">
                        <img src="/images/f_galtan.png" width="100" class="">
                    </div>
                    <p class="">GERSON ALTÁN</p>
                 </div>
                    <div class="" > &nbsp; </div>
                     <!-- FIRMA 1-->
                <div  class="firma">
                    <div class="espacio">
                        <!-- Espacio para la segunda firma -->
                    </div>
                    <p class="">{{stock.nombre}}</p>
                </div>
           
                </div>



    </div>

</html>
