<div class="container mx-auto my-12 mt-20 p-4">
  <div class="flex flex-col md:flex-row items-center justify-between">
    <h1 class="text-3xl font-bold mb-4">Lista de Equipos</h1>
     <!-- Busqueda  -->
    <div class="mb-4 md:mb-0">
      <form action="/index" method="GET">
        <input type="text" class="border border-gray-300 rounded-md py-2 px-4" placeholder="Buscar Equipo..." name="query" value="{{query}}">
        <button class="bg-gray-500 hover:bg-blue-600 text-white rounded-md py-2 px-4 ml-4" type="submit" title="Buscar">
          <i class="fas fa-search"></i> Buscar
        </button>
        <a href="/index" class="bg-gray-500 hover:bg-red-600 text-white rounded-md py-2 px-4 ml-4">
          <i class="fa fa-eraser"></i> Limpiar
        </a>
      </form>
      {{!-- Agrega el mensaje de validación --}}
      {{#if queryError}}
        <p class="text-red-500 mt-2">La búsqueda debe tener al menos 3 caracteres.</p>
      {{/if}}
    </div>
     <!-- Busqueda -->
  </div>
  <div class="overflow-x-auto rounded-md text-sm">
    <table class="table-auto w-full">
      <thead class="border-b bg-white font-medium dark:border-neutral-500 dark:bg-neutral-600">
        <tr class="rounded-md bg-gray-900 text-white">
          <th class="px-4 py-2 text-left">ID</th>
          <th class="px-4 py-2 text-left">AGENCIA</th>
          <th class="px-4 py-2 text-left">USUARIO</th>
          <th class="px-4 py-2 text-left">CORREO</th>
          <th class="px-4 py-2 text-left">SERIE</th>
          <th class="px-4 py-2 text-left">CPU</th>
          <th class="px-4 py-2 text-left">FECHA</th>
          <th class="px-4 py-2 text-left">ANTERIOR</th>
          <th class="px-4 py-2 text-left">ACCIONES</th>
        </tr>
      </thead>
      <tbody>
      {{#each stock}}
        <tr class="{{isEven @index}}">
          <td class="py-3 px-6">{{id}}</td>
          <td class="p-3">{{nombre_agencia}}</td>
          <td class="p-3 text-center">{{nombre}}</td>
          <td class="p-3 text-center">{{correo}}</td>
          <td class="p-3 text-center">{{serie}}</td>
          <td class="p-3 text-center text-xs">{{cpu}}</td>
          <td class="p-3 text-center text-xs">{{fecha}}</td>
          <td class="p-3 text-center">{{usuario_anterior}}</td>
          <td class="p-3 flex justify-center">
            <!-- Boton Ver -->
            <a href="/index/read/{{id}}" class="bg-green-600 text-white px-3 py-1 rounded-lg hover:bg-green-700" title="Ver">
              <i class="bi bi-eye-fill"></i>
            </a>
            <!-- Boton Editar -->
            <a href="/index/edit/{{id}}" class="bg-blue-600 text-white mx-1 px-3 py-1 rounded-lg hover:bg-blue-700">
              <i class="fas fa-pen"></i>
            </a>
            <!-- Botón para eliminar un registro -->
            <button class="bg-red-500 hover:bg-red-700 text-white font-bold px-3 py-1 rounded-lg focus:outline-none focus:shadow-outline" onclick="openModal({{id}})">
              <i class="fas fa-trash"></i>
            </button>
          </td>
        </tr>
      {{/each}}
      </tbody>
    </table>
  </div>
  <div class="mt-8 text-center">
    <a href="/main" class="bg-green-500 hover:bg-green-600 text-white font-bold rounded-md py-2 px-4">Agregar Inventario</a>
  </div>
</div>

<!-- Agrega el modal de confirmación -->
<div id="modal" class="fixed z-10 inset-0 overflow-y-auto hidden">
  <div class="flex items-center justify-center min-h-screen">
    <!-- Fondo oscuro del modal -->
    <div class="modal-overlay absolute w-full h-full bg-gray-900 opacity-50"></div>
    <!-- Contenedor del modal -->
    <div class="bg-white w-1/3 rounded-lg shadow-lg p-6 relative">
      <div class="flex justify-center">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="h-12 w-12 text-red-600">
          <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m9-.75a9 9 0 11-18 0 9 9 0 0118 0zm-9 3.75h.008v.008H12v-.008z" />
        </svg>
      </div>
      <!-- Contenido del modal -->
      <div class="mb-4">
        <h2 class="text-xl font-bold text-gray-800">¿Está seguro?</h2>
        <p class="text-gray-700">Esta acción no se puede deshacer.</p> <p>{{id}}</p>
      </div>
      <div class="flex justify-end">
        <button class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline mr-2" onclick="closeModal()">Cancelar</button>
        <form id="deleteForm" method="POST" action="">
          <input type="hidden" name="_method" value="DELETE">
          <button type="submit" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" onclick="confirmDelete(event)">Eliminar</button>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- NOTIFICACION -->
<div class="fixed items-center hidden z-10 bottom-0 right-0 mb-4 mr-4 bg-red-500 text-white py-2 px-4 rounded-md" id="notificacion">
  <div class="inline-flex items-center justify-center flex-shrink-0 w-8 h-8 text-red-500 bg-red-100 rounded-lg dark:bg-red-800 dark:text-red-200">
    <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414z" clip-rule="evenodd" />
    </svg>
  </div>
  <span class="ml-2">Eliminación exitosa</span>
</div>

<!-- Agrega el script para abrir y cerrar el modal -->
<script>
  function openModal(id) {
    const modal = document.querySelector('#modal');
    const deleteForm = document.querySelector('#deleteForm');
    const actionUrl = `/index/${id}`;
    deleteForm.setAttribute('action', actionUrl);
    modal.classList.remove('hidden');
  }

  function closeModal() {
    const modal = document.querySelector('#modal');
    modal.classList.add('hidden');
  }

  function showNotification() {
    const notificacion = document.getElementById('notificacion');
    notificacion.classList.remove('hidden');
  }

  function confirmDelete(event) {
    event.preventDefault();
    const deleteForm = document.querySelector('#deleteForm');
    closeModal();
    setTimeout(() => {
      showNotification();
      setTimeout(() => {
        deleteForm.submit();
      }, 3000);
    }, 100);
  }
</script>
